<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sunjc.materialdesigntest" >

    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.flash"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sunjc.materialdesigntest.MainActivity"
            android:label="@string/title_activity_main"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="zx.Network.Controller.Login"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity android:name="zx.Network.Controller.Signup" android:theme="@style/AppTheme.Dark" />
        <activity android:name="zx.MainAppActivity" android:theme="@style/AppTheme.Dark" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>
